table tr th,table tr td{
    text-align: center;
    vertical-align: middle;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    font-weight: bold;
}
.status{
    color: white;
    user-select: none;
}
.status.bg-light{
    color: black;
}
.btn{
    border: 1px solid gray !important;
    margin-right: 10px;
}


.title-project a{
    text-decoration: none !important;
}
.form-label{
    font-weight: bold !important;
}
.form__container input[type="checkbox"]{
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.form__container .mb-3 {
    display: flex;
    border-bottom: 1px solid #d79999;
    padding-bottom: 10px;
}
.mb-3:nth-child(7),.mb-3:nth-child(8){
    display: block !important;
}
.form__container .mb-3 label{
    width: 30%;
}
.mb-3:nth-child(7) label{
    width: auto;
}
#id_manager label{
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.table{
    margin-top: 20px;
}

.fixed-table thead{
       position: sticky;
       top: 0;
       z-index: 1;
       background: white;
       outline: 1px solid #dee2e6;
}

.dropdown{
    float: left;
    margin-bottom: 30px;
}

.notes{
    min-width: 200px;
}
.pdf-title{
    display: none;
}
@media print {
    body {
        font-family: 'Times New Roman';
        font-size: 14px;
    }
    .checkbox{
        display: none;
    }
    .table{
        border-color: black !important;
    }
    .fixed-table thead{
       position: sticky;
       top: 0;
       z-index: 1;
       background: white;
       outline: 1px solid black !important;
    }
    .navbar.navbar-expand-lg.bg-light, #download,.manager-filter, .company-filter{
        display: none;
    }
    .pdf-title{
        display: block;
    }
}

.notes_container{
    margin-top: 30px;
}
.notes_container .note{
    position: relative;
    margin-bottom: 15px;
    width: 50%;
    background: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.note .btn{
    position: absolute;
    right: 0;
}
.notes_container .user{
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes_container .text{
    margin-left: 20px;
    font-size: 15px;
}
.notes_container .date{
    position: absolute;
    right: -120px;
    bottom: 0;
}
.project_container{
    padding-bottom: 50px;
}
.note_input{
    display: flex;
}
.note_input input{
    margin-right: 10px;
}

