{% extends 'webpage/base.html' %}

{% block content %}
<div class="table container-fluid">
  <button id="download" type="button" class="btn btn-primary">Скачать в Excel</button>
  <div class="dropdown manager-filter">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% if active_manager %}
        {% for am in active_manager %}
          {{ am.name }}
        {% endfor %}
      {% else %}
      Все менеджеры
      {% endif %}
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item managers_filter_item" id="0" href="#">Все менеджеры</a></li>
      {% for m in managers %}
        <li><a class="dropdown-item managers_filter_item" id="{{m.id}}" href="#">{{m.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="dropdown company-filter">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% if active_company %}
        {% for ac in active_company %}
          {{ ac.title }}
        {% endfor %}
      {% else %}
      Все компании
      {% endif %}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item companies_filter_item" id="0" href="#">Все организации</a></li>
        {% for c in companies %}
          <li><a class="dropdown-item companies_filter_item" id="{{c.id}}" href="#">{{c.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  <h4 class="pdf-title">{{category.title}}</h4>
  <table id="projects"  class="table table-bordered fixed-table">
  <thead>
    <tr>
      <th class="checkbox">
        <div class="form-check">
          <input class="form-check-input" id="allCheck" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </th>
      {% if category.id == 5%}
        <th scope="col">№</th>
        <th scope="col">Объект</th>
        <th scope="col">Основание для выполнения работ (оказания услуг)</th>
        <th scope="col">Система</th>
        <th scope="col">Состояние</th>
        <th scope="col">Проблемные вопросы</th>
        <th scope="col">Первоочередные мероприятия</th>
        <th scope="col">Финансовые вопросы</th>
        <th scope="col">Ответственный</th>
        <th scope="col">Примечание</th>

      {% else %}
        {% for th in category.fields.all %}
        <th scope="col">{{th}}</th>
        {% endfor %}
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for p in projects %}
    <tr>
      <td class="checkbox">
        <div class="form-check">
          <input class="form-check-input checkboxes" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </td>
      {% if p.alert %}
        <th class="order bg-warning" scope="row"></th>
      {% else %}
        <th  class="order" scope="row"></th>
      {% endif %}
      <td class="title-project"><a class="info" href="{{p.get_absolute_url}}">{{p.title}}</a></td>
      <td>
        {% if category.id == 5%}
           {% if p.work_reason %}
            {{p.work_reason}}
          {% else %}
            -
          {% endif %}
        {% else %}
          {{p.work_statement}}
        {% endif %}
      </td>
      <td>
        {% if category.id == 5%}
          {% if p.system %}
            {{p.system}}
          {% else %}
            -
          {% endif %}
        {% else %}
          {% if p.contract_id %}
            {{p.contract_id}}
          {% else %}
            -
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if category.id == 5%}
          {% if p.state %}
            {{p.state}}
          {% else %}
            -
          {% endif %}
        {% else %}
          {{p.notice}}
        {% endif %}
      </td>
      {% if category.id != 2 %}
      <td>
        {% if category.id == 5%}
          {% if p.problems %}
            {{p.problems}}
          {% else %}
            -
          {% endif %}
        {% else %}
          {% if p.customer %}
            {{p.customer}}
          {% else %}
            -
          {% endif %}
        {% endif %}
      </td>
      {% endif %}
      {% if category.id == 5 %}
        <td>
          {% if p.activities %}
            {{p.activities}}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if p.finance %}
            {{p.finance}}
          {% else %}
            -
          {% endif %}
        </td>
      {% endif %}
      {% if category.id != 5 %}
      <td class="executor_company ">
        <ul class="list-group list-group-flush">
        {% for c in p.executor_company.all %}
          <li class="list-group-item">{{c}}</li>
        {% endfor %}
        </ul>
      </td>
      {% endif %}
      <td>
        <ul class="list-group list-group-flush">
        {% for m in p.manager.all %}
          <li class="list-group-item">{{m}}</li>
          {% endfor %}
        </ul>
      </td>
      {% if category.id != 5 %}
          <td class="{{p.status.className}} status">
            {{ p.status.title }}
          </td>
          {% if category.id != 4 %}
          <td>
            {% if p.deadline %}
              {{p.deadline}}
            {% else %}
              -
            {% endif %}
          </td>
        {% endif %}
      {% endif %}
       {% if category.id == 5 %}
        <td>{{p.notice}}</td>
      {% endif %}
<!--      <td class="notes">-->
<!--        {% for note in p.note_set.all %}-->
<!--          {{note.text}}-->
<!--        {% endfor %}-->
<!--      </td>-->
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

</div>
{% endblock %}