{% extends 'webpage/base.html' %}

{% block content %}
<div class="table container-fluid">
    <div class="dropdown manager-filter">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% if active_manager %}
        {% for am in active_manager %}
          {{ am.name }}
        {% endfor %}
      {% else %}
      Все менеджеры
      {% endif %}
    </button>
    <ul class="dropdown-menu">
      {% for m in managers %}
        <li><a class="dropdown-item managers_filter_item" id="{{m.id}}" href="#">{{m.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="dropdown company-filter">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Все компании
      </button>
      <ul class="dropdown-menu">
        {% for c in companies %}
          <li><a class="dropdown-item" id="{{c.id}}" href="#">{{c.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  <table  class="table table-bordered fixed-table">
  <thead>
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </th>
      {% for th in category.fields.all %}
      <th scope="col">{{th}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for p in projects %}
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </td>
      <th class="order" scope="row"></th>
      <td>{{p.title}}</td>
      <td>{{p.work_statement}}</td>
      <td>
        {% if p.contract_id %}
          {{p.contract_id}}
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{p.note}}</td>
      <td>
        {% if p.customer %}
          {{p.customer}}
        {% else %}
          -
        {% endif %}
      </td>
      <td class="executer_company ">
        <ul class="list-group list-group-flush">
        {% for c in p.executer_company.all %}
          <li class="list-group-item">{{c}}</li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <ul class="list-group list-group-flush">
        {% for m in p.manager.all %}
          <li class="list-group-item">{{m}}</li>
          {% endfor %}
        </ul>
      </td>
      <td class="{{p.status.className}} status">
        {{ p.status.title }}
      </td>
      {% if category.id != 4 %}
      <td>
        {% if p.deadline %}
          {{p.deadline}}
        {% else %}
          -
        {% endif %}
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}