{% extends 'webpage/base.html' %}

{% block content %}
<div class="container" style="padding: 50px">
    <h1>Авторизация</h1>
    <style>
        h1{
            text-align: center;
        }
        form{
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p label{
            font-size: 20px;
            width: 7%;
        }
        p input{
            width: 40% !important;
        }
    </style>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</div>
{% endblock %}